<link href="/css/footerstyle.css" rel="stylesheet" type="text/css">


    <div class="footer-container">
        <p class="text-center text-muted">&copy; Copyright 2022 Ngumo Developers</p>
    </div>
</body>