<!-- Should be in the header not in the footer layout -->
<!-- nini sasa should be in the header?-->
<!-- Acha ni kuonyeshe -->

<div class="footer-container">


    <div class="copyright-text">
        <p>Copyright &copy; 2018, All Right Reserved <a href="https://github.com/sirkeygun" target="_blank">Ngumo</a></p>
    </div>


    <div class="footer-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Policy</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

    </div>
</div>