<!-- Should be in the header not in the footer layout -->
<!-- nini sasa should be in the header?-->
<!-- Acha ni kuonyeshe -->

<div class="bg-neutral-900 text-neutral-100">
    <div class="container">
        <div class="even-columns">
            <div>
                <a href="#"><img src="/img/" alt="GSM"></a>
                <ul role="list" >
                    <ul>
                        <li><a aria-label="facebook" href="#"></a></li>
                        <li><a aria-label="twitter" href="#"></a></li>
                        <li><a aria-label="instagram" href="#"></a></li>
                        <li><a aria-label="twitter" href="#"></a></li>
                        <li><a aria-label="twitter" href="#"></a></li>
                    </ul>
                </ul>
            </div>
            <div></div>
            <div></div>
        </div>
    </div>

</div>