<!-- Should be in the header not in the footer layout -->
<!-- nini sasa should be in the header?-->
<!-- Acha ni kuonyeshe -->


    <div class="footer-container">
        <p class="text-center text-muted">&copy; Copyright 2022 Ngumo Developers</p>
    </div>
</body>