<ul>
    <li><a class="active" href="/">Home</a></li>
    <li>
        <div class="dropdown">
            <button class="dropbtn">News</button>
            <div class="dropdown-content">
                <div>
                    <a href="devices">devices</a>
                </div>
                
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </li>
    
    <li><a href="/contactus">Contact Us</a></li>
    <li><a href="#about">About</a></li>
</ul>