<header class="primary-header">
    <div class="container">
        <a href="#"><img src="/img/" alt="GSM"></a>
        <nav class="primary-nav">
            <ul role="list" class="nav-list">
                <li><a href="#">Device</a></li>
                <li><a href="#">Apps & software</a></li>
                <li><a href="#">Gaming</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Reach Out</a></li>
            </ul>
        </nav>
    </div>
</header>
<script style="module" src="/js/pagemain.js"></script>