<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head'); %>
</head>

<body class="container">

    <header>
        <%- include('layouts/header'); %>
    </header>
    <main>
        <% for (var i = 0; i < Device; i++); { %>
        <div class="jumbotron">
            <h1>t</h1>
            <p>Welcome to </p>
            <%= Device.name %>
        </div>
        <% } %>
    </main>

    <footer>
        <%- include('layouts/footer'); %>
    </footer>

</body>

</html>