<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head'); %>
</head>

<body class="container">

    <header>
        <%- include('layouts/header'); %>
    </header>
    
    

    <footer>
        <%- include('layouts/footer'); %>
    </footer>

</body>

</html>
